/* Custom Stylesheet */

/*
    project section
*/

#checklist-main{
    background-color: transparent;
    margin-top:50px;
}

#checklist-main li.checklist-intro{
    margin-bottom: 30px;
    padding-left:45px;
}

#checklist-main li.checklist-intro p{
    font-size:200%;
    padding-top: 15px;
    display:inline-block;
}

#checklist-main li.checklist-intro span{

}

#checklist-main li span{
    padding:5px;
    border-radius: 5px;
}

#checklist-main li{
    min-height: 30px;
    margin:15px 0;
}

#checklist-main li p{
    margin-left:5px;
    display:inline;
}

.summary-item{
margin-top:40px;
}

.summary-item p{
    font-size:250%;
    padding-top:20px;
}
.summary-item.completed{
    /*color:teal;*/
}

.summary-item.undone{
    /*color:red;*/
}

.summary-item.postponed{
    /*color:orange;*/
}

.summary-item.total{
    /*color:grey;*/
}


#main-calendar
{

}

.weather-icon{
    width:100%;
}
.weather-temperature{
    margin-top:0px;
}

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
    border-color: #fff;
}

.fc td, .fc th{
    padding: 10px 5px !important;
}

#main-content{
    background-color: #ffffff;
    height: 100vh;
}

#secondary-content{
    color:white;
    min-height: 100vh;
    background: indigo; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right top, #524CA0, #4964C1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom left, #524CA0, #4964C1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom left, #524CA0, #4964C1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom left, #524CA0, #4964C1); /* Standard syntax */
}

.avatar-wrapper{
    float:right;
}

.avatar-wrapper span{


}

.avatar-photo{
    width:50px;
    height: 50px;
    margin-right: 10px;
}

.avatar-photo img{
    background-color: #FFF;
}

#calendarHeader{

}

#calendarHeader ul{
    list-style: none;
}

#calendarHeader ul li{
    float:left;
}

#calendarHeader h5{
    display:inline-block;
    margin-left:20px;
}

.btn-spacer{
    margin-right:8px;
}
.btn-small {
    height: 16px;
    line-height: 16px;
    width:12px;
    padding: 0 0.5rem;
}

#personalCalendar{
    margin-top:50px;
}
/*.brand-logo span{*/
    /*color: #26a69a;*/
/*}*/
/**
    parallax theme below
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(0,0,0, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}


